<h1>The places you've been! </h1>

<p>

</p>

<form id="form_id" action="index.html" method="post">
  <div id="name">
    <label for=""></label>
    <input type="button" name="some_name" value="">
  </div>
</form>
